body 
{
 font-family: Comic Sans MS; 
 font-family: sans-serif color black;
 background: url(../img/background.png);
 background-size: 25%;
}



header 
{background: url(../img/header.png) no-repeat center top;	
height: 406px;
}

nav 
{
	float: right;
	margin-top: 35px;
	margin-right: 6px;
}

.menu li {
	display: block;
}

.menu a { 
	text-decoration: none;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 2.1em;
	
}
.menu a:hover 
{
	color: #ab343a;
}


.container 
{
	width: 657px;
	border: 10px solid transparent;
	margin: 0 auto;
}



.animate img 
{
	margin-left: 40%;
	 margin-top: 110px;
	position: absolute;
}

.animate img.first
{
	opacity: 0;
	filter: alpha (opacity=0);
}

.animate:hover img.first 
{
	opacity: 1;
	filter: alpha (opacity=100)
}

.animate:hover img.second, .animate img.second:hover 
{
	opacity: 0;
	filter: alpha (opacity=0);
}

section
{
	background: url(../img/section.png) no-repeat center top;
	height: 808px;
	font-size: 25px;
	padding: 0;
	margin: 0;
	text-align: center;
}

.data
{
	width: 150px; 
	border: 3px solid black;
	background: #697a9a;
	padding: 5px;
	margin-top: 30px;
	margin-left: 540px;
}

.left1 
{
	width: 210px; 
	border: 3px solid black;
	background: white;
	padding: 5px;
	margin-top: -10px;
}

.left2 
{
	text-decoration: line-through;
	text-decoration-color: #f26c4f;
	width: 200px; 
	border: 3px solid black;
	background: white;
	padding: 5px;
	margin-left: 200px;
	margin-top: -10px;
}


footer 

{
	background: url(../img/Footer.png) no-repeat center top;
	 height: 182px;
}

.picture 
{
	margin: 50px 0px 0px 80px;
}

.cow 
{
position: relative;
margin-left: 470px;
margin-top: -111px;
}
.cow img
{
 position: absolute;
}

.cow img.one 
{
	opacity: 0;
	filter: alpha (opacity=100);
}

.cow:hover img.one
{
	opacity: 1;
	filter: alpha (opacity=100);
}

.cow:hover img.two, .cow img.two:hover
{
	opacity: 0;
	filter: alpha (opacity=0);
}